.text-center{
    text-align:center;
  }
  
  .container{
    background-color: #fafafa;
    padding: 3rem;
  }
  
  #img-div{
    margin: 1rem 0 3rem;
  }
  
  #image{
    display:block;
  }
  
  .wikipedia-container{
    margin: 2rem 0;
  }